#login-viewport {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /*background-color: #F2F3F4;*/
}

#login-form {
    /*background-color: #F4F0EC;*/
    background-color: #F2F3F4;
    margin: auto;
    padding: 60px 50px;
    border: 1px solid slategray;
    border-radius: 10px;
    box-shadow: -1px 1px 5px gray;
}