.lab-listing {
    composes: card card-interactive flex-item from '../labs-list/labsList.module.css';
}

.lab-listing-icon {
    composes: icon-container from '../labs-list/labsList.module.css';
}

.lab-listing-title {
    composes: title from '../labs-list/labsList.module.css';
}